<html>

<head>
  <style>
    .box {
      display: flex;
      justify-content: space-around;
    }
  </style>
</head>

<body>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  </p>
  <form method="post" action="/" enctype="multipart/form-data">
    <dl>
      <p>
        <input type="file" name="file" autocomplete="off" required>
      </p>
    </dl>
    <p>
      <input type="submit" value="Upload">
    </p>
  </form>
  <div class="box">
    <div>
      <h1>Your uploaded file:</h1>
      {% if filename %}
      <h3>Video uploaded: {{ filename }}</h3>
      <div style="margin: 10px auto;">
        <video autoplay="autoplay" controls="controls" preload="preload">
          <source src="{{ url_for('display_video', filename=filename) }}" type="video/mp4">
          </source>
        </video>
      </div>
      {% endif %}
    </div>

    <div>
      <h1>The pose estimation after data processing:</h1>
      <!-- {% if output_file %}
      <div style="margin: 10px auto;">
        <video autoplay="autoplay" controls="controls" preload="preload">
          <source src="{{ url_for('display_output', output_file=output_file) }}"
            type='video/mp4; codecs="avc1.4d002a, mp4a.40.2"'>
          </source>
        </video>
      </div>
      {% endif %} -->
      {% if plot %}
      <div style="margin: 10px auto;">
        <img src="{{ url_for('display_plot', plot=plot) }}" alt="Plot">
      </div>
      {% endif %}
      <h3>If no plot is displayed, please check the data processing progress.</h3>
      <h4>You can access the page: {ip}/Log to monitor progress.</h4>
      <h4>If the progress is complete, you can download the output video via the page: /output/filename
      </h4>
      <h4>For example, your uploaded video is abc.mp4, then download it via the page: /output/abc </h4>
      <h4>You can download the output plot via: /plot/filename </h4>
      <h4>For example, your uploaded video is abc.mp4, then download it via the page: /plot/abc </h4>
    </div>
  </div>

</body>

</html>
